body {
    background-color: beige;
}

p {
    color: yellow;
    font-family: 'Licorice', cursive;
    font-size: 25px;
}

h1 {
    color: yellow;
    font-size: 75px;
}

footer {
    background-color: black;
}

.ask {
    background-color:darkslateblue;
}

img {
    width: 350px;
    border-width: 15px;
    border-color: cornflowerblue;
    border-style: double;
    border-radius: 25px;
}

#imagen-noita {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    background-color: chocolate;
}